<div class="container tablero">
  <div class="columns is-gapless">
    <!-- Add is-gapless class to remove space between columns -->
    <div *ngFor="let fila of tablero" class="column is-paddingless">
      <!-- Add is-paddingless class to remove padding -->
      <div *ngFor="let celda of fila" class="column is-paddingless">
        <!-- Add is-paddingless class to remove padding -->
        <div
          class="button has-text-centered same-size"
          (click)="revelar(celda)"
          (contextmenu)="ponerBandera(celda); $event.preventDefault()"
          [ngClass]="{
            'has-background-primary': celda.revelado,
            'has-background-white': celda.revelado && celda.valor === 0,
            'has-background-danger': celda.valor === -1 && celda.revelado,
            'has-background-info': celda.bandera
          }"
        >
          {{ celda.revelado && !celda.mina ? celda.valor : "" }}
        </div>
      </div>
    </div>
  </div>
</div>
